*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: black;
}
h1{
    position:absolute;
    color:white;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 3vw;
}
span{
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png");
    width:200px;
    height:200px;
    position:absolute;
    background-position: center;
    background-size: cover;
    top:var(---xPos);
    left:var(---yPos);
    transform:translate(-50%,-50%);
    pointer-events: none;
    animation:animate 6s linear;
}

@keyframes animate{
    0%{
        transform:translate(-50%,-50%);
        filter:hue-rotate(0deg);
        opacity:1;
    }
    100%{
        transform:translate(-50%,-5000%);
        filter:hue-rotate(720deg);
        opacity:0;
    }
}